<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/home.css' />
  </head>
  <body>
    <nav>
      <h1 class="logo"><%= title %></h1>
    </nav>
    <div>
      <p>Welcome to <%= title %>. This is a little trial, a taste of what you can do with the Api.</p>
      <a href="http://localhost:3000/ads"><button>try the app</button></a>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="<%= ads[2].cover %>" class="card-img-top" alt="cover picture">
      <div class="card-body">
        <h5 class="card-title"><%= ads[2].title %></h5>
        <p class="card-text"><%= ads[2].description %></p>
        <p class="card-price"><%= ads[2].price %></p>
        <p class="card-text"><%= ads[2].tags %></p>
        <a href="http://localhost:3000/<%= ads[2]._id %>" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <div>
      <div><%= ads[0] %> </div>
      <p><%= ads[0].title %></p>
      <div><%= ads[1] %> </div>
    </div>
    
  </body>
</html>
